.commonSkil {
    min-height: 100vh;
    background-color: #bf9b9b;
}



.skilsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skilsBlok {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 546px) {
    .skilsBlok {
        justify-content: center;
    }
}