@import '../common/styles/sass/variable.scss';

.commonSkil {
    background-color: white;
}


.skilsBlok {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: $titleColor;
}

.leftBlok{

}

.rightBlok{
    background-color: $primaryColor;
    padding: 10px;
}

@media screen and (max-width: 936px) {
    .skilsBlok {
        justify-content: center;
    }
}
