@import '../common/styles/sass/variable.scss';

.commonSkil {
    background-color: white;
}


.skilsBlok {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.leftBlok{

}

.rightBlok{
    background-color: $primaryColor;
    padding: 10px;
}

@media screen and (max-width: 546px) {
    .skilsBlok {
        justify-content: center;
    }
}