.commonFooter{
    height: 150px;
    background-color: #bf9b9b;

}

.blokFooter{
    display: flex;
    justify-content: center;
    align-items: center;

}

.elem{
    width: 500px;
    height: 2px;
    background-color: white;
}