@import '../common/styles/sass/variable';

.commonFooter{
    height: 150px;
    background-color: $primaryColor;

}

.blokFooter{
    display: flex;
    justify-content: center;
    align-items: center;

}

.elem{
    width: 500px;
    height: 2px;
    background-color: white;
}