.itemSkil {
    width: 250px;
    background-color: #ff5e00;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}

.icon {
    width: 60px;
    height: 60px;
    background-color: silver;
}
