@import '../common/styles/sass/variable';

.commonWorkExampl {
  min-height: 100vh;
  background-color:white /*$primaryColor*/;


    .workExamplBlok {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      @media screen and (max-width: 706px) {
        justify-content: center;
      }
    }

}






