@import '../../common/styles/sass/variable';
@import '../../common/styles/sass/mixins';


.block{
  display: flex;
}

.left {
  width: 400px;
  height: 250px;
  border: 1px solid $primaryColor;
  background-color: $primaryColor;
  color: $titleColor;
  font-family: 'Oswald', sans-serif;

}
.left:hover{
  border: 1px solid $titleColor;
  background-color: $titleColor;
  color: white;
}

.titleProject{
  font-size: 40px;
  margin-top: 70px;
  margin-left: 10px;
}


.right{
  height: 250px;
  width: 100%;
  border: 1px solid white;
  background-size: cover;
  background-position: center;

}






