@import '../../../common/styles/sass/variable.scss';

.title {
    color: blue;
    margin-top: 80px;
    margin-bottom: 20px;
    position: relative;
}

.title h2 {
    font-family: blue;
    font-weight: 100;
    font-size: 32px;
}

.title::before {
    position:absolute;
    content: '';
    width: 155px;
    height: 2px;
    background: white;
    top:10px;
    left: 50%;
    transform: translate(-50%,50%);
}
