.commonСontact {
    background-color: #bf9b9b;
}

.containerСontact {
    display: flex;
    flex-direction: column;
   align-items: center;

}

.blokInputTewtarea{
   display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;

}
.blokInputTewtarea input, .blokInputTewtarea textarea{
    width: 100%;
}
.buttonSubmit{
    padding: 7px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fc0202;
}

.title {

    color: gold;
}