@import '../common/styles/sass/variable.scss';

.main {
  min-height: 100vh;
  background-color: $primaryColor;
}


.frame {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.textBlok {
  margin-top: 7%;
  width: 550px;
  font-family: $NavigatorAndTextFont;
  color: $titleColor;
  font-size: 50px;
}


.smallText {
  font-family: $NavigatorAndTextFont;
  font-size: 35px;
  color: $titleColor;
  margin-left: 20px;
}

.bigText{
  font-family: $NavigatorAndTextFont;
  font-weight: bold;
  color: $titleColor;
  font-size: 80px;
  font-weight: bold;
}

.name {
  position: relative;
  z-index: 0;
}

.name::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 20px;
  background: white;
  bottom: -10px;
  left: 15px;
  z-index: -1;
}


.incubatorFoto {
  width: 200px;
  height: 50px;
  background-size: cover;
  background-position: center;
  margin-left: 230px;
}


.foto {
  margin-top: 17%;
  width: 460px;
  height: 460px;
  border-radius: 250px;
  background-size: cover;
  background-position: center;
  background-size: 90%;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 836px) {
  .frame {
    justify-content: center;
  }
}

.foto::before {
  position: absolute;
  content: '';
  width: 480px;
  height: 480px;
  border-radius: 250px;
  top: -5px;
  left: -10px;
  border: 18px solid white;
  z-index: -1;
}