.main {
    min-height: 100vh;
    background-color: #bf9b9b;

}

.frame {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
}

.text {
    margin-top: 7%;
    width: 350px;

}
.text span,p {
    font-family: 'Rubik Glitch', cursive;
    color: #191f39;
    font-size: 18px;

}
.text h1{
    font-family: 'Rubik Spray Paint', cursive;
    font-weight: 100;
    color: white;
}


.foto {
    margin-top: 4%;
    width: 340px;
    height: 450px;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 736px) {
    .frame {
        justify-content: center;
    }
}