@import '../../common/styles/sass/variable.scss';

.itemSkil {
    width: 250px;
    height: 230px;
    background-color: $primaryColor;
    margin-top: 20px;
    background-size: cover;
    background-position: center;
}

