@import '../../common/styles/sass/variable.scss';

.block{
    display: flex;
    flex-direction: column;
    min-width: 450px;
    height: 70px;
}

.text{
display: flex;
    justify-content: space-between;
}

.line{
  display: flex;
}
.lineColor{
    margin-top: 10px;
    flex-grow: 5;
    height: 15px;
    border: 2px solid $primaryColor;
    border-radius: 10px 0px 0px 10px;
    background-color: $primaryColor;
}
.lineWhite{
    margin-top: 10px;
    flex-grow: 2;
    height: 15px;
    border: 2px solid $primaryColor;
    border-radius: 0px 10px 10px 0px;
    background-color:whitesmoke ;
}


.itemSkil {
    width: 250px;
    height: 230px;
    background-color: $primaryColor;
    margin-top: 20px;
    background-size: cover;
    background-position: center;
}

