@import '../common/styles/sass/variable.scss';

.navigator{
    width: 450px;
    display: flex;
    justify-content: space-between;

}

@media screen and (max-width: 500px){
    .navigator {
        display: none;
    }
}

.navigator a{
    font-family: $NavigatorAndTextFont;
    font-weight: 900;
    color: $titleColor;
    font-size: 24px;
    text-decoration: none;
}