.main {
    min-height: 100vh;
    background-color: #0d2e5f;

}

.frame {

    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
}

.left {
    margin-top: 7%;
    width: 300px;
    color: gold;
}

.foto {
    margin-top: 4%;
    width: 300px;
    height: 450px;
    background-color: silver;
}