@import '../common/styles/sass/variable.scss';

/*.burgerNavigator{
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #2e2424;
}

@media screen and (min-width: 500px){
  .burgerNavigator {
    display: none;
  }
}

.link{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 50px;
  border: 1px solid #6a0505;
  height: 400px;
  font-size: 34px;
  font-family: $NavigatorAndTextFont;
  font-weight: 900;
  color: $titleColor;
  text-decoration: none;
}



.button{
  width: 80px;
  height: 80px;
  border: 1px solid red;
  margin-top: 40px;
}*/

.burgerNavigator{
    margin-top: 100px;
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 500px){
    .burgerNavigator {
        display: none;
    }
}

.link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}

.burgerNavigator a{
    font-family: $NavigatorAndTextFont;
    font-weight: 900;
    color: $titleColor;
    font-size: 34px;
    text-decoration: none;
}

.button{
    width: 80px;
    height: 80px;
    margin-top: 40px;
    background-size: cover;
  border-radius: 10px;
}

.button:hover {
    transform: scale(1.1);
    transition: 0.5s;
}