@import '../common/styles/sass/variable.scss';

.navigator{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.navigator a{
    font-family: $NavigatorAndTextFont;
    font-weight: 900;
    color: $titleColor;
    font-size: 22px;
    text-decoration: none;
}