$textColor: #1e2646;
$primaryColor: #bf9b9b;  /* это основной фон  background-color: #bf9b9b;*/
$titleColor:#fff;

$TitleFont:'Rubik Spray Paint', cursive;
$NavigatorAndTextFont:'Underdog', cursive;
$HelloTextFont:'Rubik Glitch', cursive