@import '../common/styles/sass/variable.scss';

.header{
    height: 100px;
    background-color:$primaryColor;
}

.headerContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
