@import '../common/styles/sass/variable.scss';

.header{
    height: 100px;
    background-color:$primaryColor;
    position: relative;
}

@media screen and (max-width: 600px){
    .header {
        height: 200px;
    }
}

.headerContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
