@import '../common/styles/sass/variable';

.commonСontact {
  background-color: $primaryColor;
}

.containerСontact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left {
  flex-grow: 3;
  min-width: 300px;
  margin-top: 118px;
  font-family: 'Oswald', sans-serif;
  font-size: 27px;
  color: $titleColor;
}

.right {
  height: 500px;
  flex-grow: 5;
  margin-left: 20px;
  margin-top: 20px;
  min-width: 300px;
}

.mail {
  border: 2px solid #fce99a;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3%;
  box-shadow: 0px 0px 2px 0px;
}


.input {
  padding: 15px;
  margin-top: 35px;
  border: 2px solid #936161;
  border-radius: 5px;
}

.textarea {
  padding: 15px;
  border: 2px solid #855353;
  border-radius: 5px;
  margin-top: 55px;
  height: 150px;
}


.buttonSubmit {
  width: 165px;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: $titleColor;
  border: 2px solid $titleColor;
  color: $primaryColor;
  border-radius: 8px;
  box-shadow: 2px 2px 5px 2px #bdae5b;
  font-family: $NavigatorAndTextFont;
  font-size: 20px;
}

.buttonSubmit:hover {
  width: 165px;
  height: 60px;
  background-color: #4e535c;;
  box-shadow: 2px 2px 5px 2px white;
}


@media screen and (max-width: 700px) {
  /*медиаЗапрос на Инпут и Текстерию
 и при сужении экрана размер(длинна Инпута и Текстерии)  увеличится*/
  .blokInputTewtarea {
    width: 100%;
  }
}